<!DOCTYPE html>
<html>
    <head>
        <title>Hot cakes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
          
                <a class="navbar-item">
                  Documentation
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      About
                    </a>
                    <a class="navbar-item">
                      Jobs
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>

        <main class="container">
              
            <h1 class="title">Hot cakes</h1>
            <h2 class="subtitle">Receta</h2>

            <table>
                <tbody>
                    <tr>
                        <td style="color: blueviolet;">Cantidad</td>
                        <td class="ingrediente">Ingrediente</td>
                    </tr>
                    <tr>
                        <td>5 cucharadas</td>
                        <td id="harina">Harina</td>
                    </tr>
                    <tr>
                        <td>250ml</td>
                        <td>Leche</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>huevos</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
                <thead>
                    <tr>
                        <th>Receta para hacer hotcakes</th>
                    </tr>
                </thead>
                
            </table>

            <button id="contador_clicks" class="button is-primary"></button>
            <div id="clicks">0</div>

            <br><br>
            <div>
              <input id="input_texto" class="input is-primary" type="text" placeholder="Primary input">
              <br>
              <br>
              <div id="texto_respuesta"></div>
            </div>

            <br><br>
            <div class="columns">
                <div class="column">
                  First column
                </div>
                <div class="column">
                  Second column
                </div>
                <div class="column">
                  Third column
                </div>
                <div class="column">
                  Fourth column
                </div>
              </div>


        </main>

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
              </p>
            </div>
          </footer>

        <script src="/js/js.js"></script>
    </body>
</html>